header.header
  .container.header__container
    .logo
      a(href="/" title="На головну").logo__link
        img(src="/img/logo.svg" alt="").logo__img
    .header__sitename Employment Services #[br]by Andrii Marysiuk