.upload-file {
  position: relative;
  
  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &__label {
    display: grid;
    place-content: center;
    height: 150px;
    border: 2px solid #e5e5e5;
    color: #A9A9A9;
    cursor: pointer;
  }
  
  // &__wrapper {
  //   display: grid;
  //   grid-template-columns: auto 1fr;
  //   align-items: center;
  //   gap: 20px;
  // }
}